node_modules
npm-debug.log
.git
.github
.cursor
.qoder
**/.env
**/.env.*
!**/.env.example
local-dev/data
deploy/prod/backups
scratch
logs
data_test
*.md
!webui_src/assets/**/*.md
tests
docs
deploy/dev
avg-lab
